/* Defaults */
:root {
  --text: rgb(232, 240, 255);
  --background: rgb(232, 240, 255);
  --header:rgb(7, 8, 127);
  --about-me: rgb(170, 45, 70);
  --work:rgb(113, 28, 130);
  --contact-form: rgb(43, 167, 199);
  --resume: rgb(219, 142, 18)
}

header {
  background-color: var(--header) !important;
}

header a {
  text-decoration: inherit;
  color: inherit;
}

header a:hover {
  text-decoration: inherit;
  color: inherit;
}

.about {
  background-color: var(--about-me) !important;
}

.about p {
  font-size: 25px;
}

.work {
  background-color: var(--work) !important;
}

.contact {
  background-color: var(--header) !important;
}

.contact ul {
  list-style-type: none !important;
}

.contact a {
  background-color: var(--contact) !important;
  border: none;
}

.contact a:hover {
  opacity: .5;
}

.project {
  text-shadow: 2px 2px 8px black;
}

.project img {
  opacity: .60; 
}

.project img:hover {
  opacity: 1;
  transition: 1s;
}

.resume {
  background-color: var(--resume);
}

section h2 {
  font-size: 50px;
}

@media screen and (min-width: 1050px) {
  body {
      width: 90%;
      margin: auto;
  }

  header h1 {
      font-size: 6vw;
  }

  header li {
      font-size: 1.5vw;
  }

  .hero h1 {
      font-size: 4vw;
  }

  .hero h5 {
      font-size: 2vw;
  }

  .bio {
      margin: 0 100px;
  }

  .contact li {
      padding:0px 35px;
  }

  .prof {
    font-size: 30px;
  }

  .prof li {
    padding-bottom: 10px; 
    list-style: none;
  }

  .prof li:before {
    content: '☑️ ';
  }

  .contact-form {
  background-color: var(--contact-form);
  }

  .contact-form label {
    font-size: 30px
  }

  .contact-form  p {
    font-size: 20px
  }

  .contact-form button:hover {
    color: var(--contact-form) !important; 
  }
} 